.main-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  justify-content: center;
}

.main-title {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}

.messageOrTime {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  font-size: 2rem;
}

button {
  margin-left: 50px;
  font-size: 1.3rem;
  padding: 20px 50px;
  background-color: rgb(193, 207, 233);
  border-radius: 10px;
  border: 1px solid #007bff;
}

button:hover {
  background-color: #72869a;
  cursor: pointer;
}

button {
  margin-right: 50px;
}
